@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

/*** Title **/

.page-title {
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    text-shadow: 2px 2px #663399;
    text-align: center;
    font-size: 45px;
    z-index: 1;
    margin: 0 auto;
}

/** Page Sizing**/

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/** Card details**/

.front-img {
    align-self: flex-start;
    transition: transform 100ms ease-in-out;
}
.back-img {
    position: relative;
    transition: transform 100ms ease-in-out;
}
.game-info {
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    text-shadow: 2px 2px #663399;
    text-align: center;
    font-size: 2em;
    z-index: 1;
}
.card.visible .card-back {
    transform: rotateY(-180deg);
}
.card.visible .card-front {
    transform: rotateY(0);
}

.card-front:hover .back-img {
    transform: scale(1);
}
.card.matched .back-img {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card {
    background-color: black;
    height: 175px;
    width: 125px;
}
.card-front {
    transform: rotateY(180deg);
}
.card-back {
    transform: rotateY(0);
}
.card-face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    backface-visibility: hidden;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px auto;
    justify-content: center;
    perspective: 500px;
}

/**** Nav Bar elements**/

.navbar {
    z-index: 9999;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 15px;
}
#navbarDropdown {
    font-family: "Luckiest Guy", cursive;
    padding-left: 30px;
    padding-right: 100px;
    color: black;
    text-shadow: none;
    font-size: 20px;
}

.dropdown-item {
    font-family: "Luckiest Guy", cursive;
    padding-left: 25px;
    color: gray;
    text-shadow: none;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-default {
    background-color: rgb(206, 206, 206) !important;
}
.navbar-brand {
    font-family: "Luckiest Guy", cursive;
    padding-left: 30px;
    font-size: 35px;
}
.nav-link {
    font-family: "Luckiest Guy", cursive;
}
.navbar .navbar-brand:hover {
    color: #971491;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #971491;
}

.bg-light {
    color: rgb(206, 206, 206);
}

/** Page content**/

.card-settings {
    z-index: 1;
    background-color: gray;
    opacity: 0.95;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    width: 50%;
    height: 60vh;
}
.card-settings-wrapper {
    opacity: 1;
    z-index: 2;
}

li {
    font-size: 20px;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    text-shadow: 2px 2px #663399;
    padding-top: 15px;
}

.box-content {
    padding-top: 35px;
    font-size: 20px;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    text-shadow: 2px 2px #663399;
    line-height: 35px;
}

.next-page {
    height: 30px;
    width: 100px;
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 2px 2px #663399;
    background-color: rgb(206, 206, 206);
}
/***Card settings buttons***/

/*** Text Overlays **/

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff;
    font-family: "Luckiest Guy", cursive;
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
    text-align: center;
}

.overlay-text-small {
    font-size: 0.1em;
    text-align: center;
}
@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 10em;
    }
}

/**Media Quries***/
/*** Iphone ***/

@media (min-width: 320px) {
    .page-title {
        display: none;
        font-family: "Luckiest Guy", cursive;
        color: #fff;
        text-align: center;
        font-size: 3em;
        z-index: 1;
        margin: 0 auto;
        padding-top: 150px;
    }

    .navbar-brand {
        font-family: "Luckiest Guy", cursive;
        padding-left: 10px;
        font-size: 20px;
    }
    .card-settings {
        z-index: 1;
        background-color: gray;
        opacity: 0.8;
        margin: 0 auto;
        padding-left: 1px;
        padding-right: 1px;
        width: 100%;
        height: 100vh;
    }
    .section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .game-info-container {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .next-page {
        height: 30px;
        width: 100px;
        margin: -20px -50px;
        position: relative;
        top: 50%;
        left: 50%;
    }
    .box-content {
        font-size: 13px;
        font-family: "Luckiest Guy", cursive;
        color: #fff;
        text-shadow: 2px 2px #663399;
        padding-top: 75px;
        position: relative;
        margin-left: 15px;
        width: 100%;
        padding-left: 10px;
        padding-right: 18px;
    }
    li {
        font-size: 15px;
    }
    #direction .card-settings {
        padding-top: 100px;
    }

    #direction .card-settings-wrapper {
        margin: auto;
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 15px;
    }
    .card-settings-wrapper {
        margin: auto;
        width: 100%;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 4);
        margin: 0 auto;
        justify-content: center;
        zoom: 0.45;
    }

    .card-info-container {
        flex-direction: column;
        align-items: center;
        padding-right: 35px;
        padding-left: 35px;
    }
    .overlay-text-small {
        font-size: 0.1em;
        text-align: center;
    }
    #click-to-start .overlay-text {
        font-size: 0.1em;
    }
    /***Desktop **/
    @media (min-width: 1600px) {
        .card-container {
            display: grid;
            grid-template-columns: repeat(4, 4);
            margin: 0 auto;
            justify-content: center;
            zoom: 0.5;
        }
        #direction .card-settings-wrapper {
            margin: auto;
            padding-left: 75px;
            padding-top: 0px;
            margin-left: 75px;
        }
        li {
            font-size: 25px;
            padding-bottom: 25px;
            padding-left: 35px;
            margin-right: 10px;
        }

        .card-settings {
            padding-bottom: 20px;
            margin-top: 0px;
        }
        .card-settings-wrapper {
            padding-bottom: 40px;

            padding-right: 15px;
            padding-left: 30px;
        }
    }

    /***Ipad **/
    @media (min-width: 768px) {
        .card-container {
            display: grid;
            grid-template-columns: repeat(4, 4);
            margin: 0 auto;
            justify-content: center;
            zoom: 0.85;
        }
        .card-settings {
            z-index: 1;
            background-color: gray;
            opacity: 0.8;
            margin: 0 auto;
            padding-left: 1px;
            padding-right: 1px;
            width: 65%;
            height: 75vh;
            padding-top: 0;
            margin-top: 0;
        }

        .box-content {
            font-size: 20px;
            font-family: "Luckiest Guy", cursive;
            color: #fff;
            text-shadow: 2px 2px #663399;
            padding-top: 10px;
            position: relative;
            margin-left: 15px;
            width: 100%;
            padding-left: 10px;
            padding-right: 18px;
            padding-bottom: 25px;
        }

        .page-title {
            display: block;
            font-family: "Luckiest Guy", cursive;
            color: #fff;
            text-align: center;
            font-size: 2.5em;
            z-index: 1;
            padding-bottom: 50px;
        }

        li {
            font-size: 18px;
        }

        .navbar-brand {
            font-family: "Luckiest Guy", cursive;
            padding-left: 10px;
            font-size: 30px;
        }

        .card-settings-wrapper {
            padding-bottom: 40px;

            padding-right: 15px;
        }

        #direction .card-settings {
            padding-bottom: 25px;
            margin-bottom: 30px;
        }
    }
    /***Laptop **/
    @media (min-width: 1280px) {
        .card-container {
            display: grid;
            grid-template-columns: repeat(4, 4);
            margin: 0 auto;
            justify-content: center;
            zoom: 0.65;
        }

        .card-settings-wrapper {
            margin-top: 0;
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 0px;
            position: relative;
            top: 0;
        }
        #direction .card-settings-wrapper {
            margin: auto;
            padding-left: 20px;
            padding-top: 0px;
            margin-left: 15px;
        }
        li {
            font-size: 15px;
            padding-bottom: 25px;
            padding-left: 15px;
            margin-right: 10px;
        }

        .card-settings {
            padding-bottom: 20px;
            margin-top: 0px;
        }
    }
}
