@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&display=swap');



/*** Title **/

.page-title{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

html  {
    min-height: 100vh;
}
.section {
 position: relative;
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}


.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.direction_btn{
    z-index: 1;
    position: relative;
    text-align: center;
    
}

body {
    margin: 0;
    
}
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.front-img {
  align-self: flex-start;

}
.back-img {
  position: relative;

}
.game-info {
    font-family: 'Monoton', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    z-index: 1;
}
.card:hover .card-back {
    transform: rotateY(-180deg);
}
.card:hover .card-front {
    transform: rotateY(0);
}

.card-front:hover .card-value {
  transform: scale(1);
}
.card {
    background-color: black;
    height: 175px;
    width: 125px;
}
.card-front {

  transform: rotateY(180deg);
}
.card-back {
 
  transform: rotateY(0); 
}
.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card-container {
 display: grid;
 grid-template-columns: repeat(4, auto);
 grid-gap: 10px;
 margin: 50px;
 justify-content: center;
 perspective: 500px;
}